.row
  .span4.offset3
    .span4.offset05#home
      %h1 Editing translation
      %br
.row
  .span4.offset3.alert.alert-info#home
    .row
      .span4= render 'form'
    .span1.offset10= link_to 'Show', @translation, :class => 'btn btn-info'
    .span1= link_to 'Back', locale_translations_path(current_translator.locale), :class => 'btn btn-warning'