.pull-right
  = link_to t('create yml file'), locale_yml_files_path(@locale), :class => 'btn'
.page-header
  %h1 Listing translations

%table#translations-table
  %tr.bottom_border
    %td
      %strong
        #normal Translation
    %td
      %strong
        #normal English Value
    %td
      %strong Translator
    %td
      %strong
        #skinny Locale
    %td
      %strong
        #skinny status
    %td
      %strong
  - @translations.each do |translation|
    - if translation.need_updated?
      %tr#red
        = render 'translation_row', :translation => translation
    - else
      %tr#green
        = render 'translation_row', :translation => translation
%br
/ %br
/ %strong représentation "YAML" des clés et des valeurs du hash correspondant aux traductions de cette locale
/ %br
/ = raw(TranslationsManager.hash_to_export(@yml_hash, "", "&nbsp;", "<br />"))
/ %br
/ %strong Affichage brut des clés et des valeurs du hash correspondant aux traductions de cette locale :
/ = @locale.name
/ %br

/ %br
/ = @yml_hash

