%h1 Listing locales
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @locales.each do |locale|
    %tr
      %td= link_to locale.name, index_by_locale_translations_path + "/" + locale.id.to_s
      %td= link_to 'Edit', edit_locale_path(locale)
      %td= link_to 'Destroy', locale, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Locale', new_locale_path, :class => "btn"