.page-header
  %h2 Accueil du site de traduction

.row
  .span5
    - if translator_signed_in?
      %strong
        = "Bienvenue : #{current_translator.name.humanize}"
  .span5
    - if translator_signed_in?
      %strong
        = "Il vous reste #{pluralize(missing_translation?(current_translator.locale), 'tanslation')} à effectuer"
