@import "twitter/bootstrap/mixins";

.bottom_border {
  border-bottom: 2px solid #999;
}

.home {
  margin-left: 200px;
}

.home-btn {
  width: 70px;
}

#name {
    width: 100px;
  }

.hero-unit h1 {
  font-style: bold;
  font-size: 20px;
}

.hero-unit h2 {
  float: left;
  margin-left: 20px;
}

.hero-unit img {
  float: left;
  margin-left: -50px;
  margin-top: -50px;
}

.hero-unit table {
  margin-top: 50px;
  margin-left: 150px;
  width: 720px;
  font-size: 10px;
}

#skinny {
  width: 30px;
}

#normal {
  width: 400px;
}

#fat-path {
  width: 600px;
}

#en-value {
  width: 450px;
}

#phrases-table {
  width: 1040px;
  margin-left: 0px;
}

#translations-table {
  width: 1040px;
  margin-left: 0px;
}

.full-rigth {
  float: right;
  margin-right: 20px;
}

#green {
  background-color: #5f5;
}

#red {
  background-color: #f55;
}