@import "twitter/bootstrap/mixins";

.bottom_border {
  border-bottom: 2px solid #999;
}

.home {
  margin-left: 200px;
}

.home-btn {
  width: 70px;
}

#name {
    width: 100px;
  }

.hero-unit h1 {
  font-style: bold;
  font-size: 20px;
}

.hero-unit h2 {
  float: left;
  margin-left: 20px;
}

.hero-unit img {
  float: left;
  margin-left: -50px;
  margin-top: -50px;
}

.hero-unit table {
  margin-top: 50px;
  margin-left: 150px;
  width: 720px;
  font-size: 10px;
}

.hero-unit table {
  margin-top: 16px;
  margin-bottom: 16px;
}

.alert {
  padding: 10px;
}

#skinny {
  width: 30px;
}

#normal {
  width: 400px;
}

#fat-path {
  width: 600px;
}

#en-value {
  width: 450px;
}

#phrases-table {
  width: 1040px;
  margin-left: 0px;
}

#translations-table {
  width: 1040px;
  margin-left: 0px;
}

.full-rigth {
  float: right;
  margin-right: 20px;
}

#green {
  background-color: lighten(green, 50);
}

#red {
  background-color: lighten(red, 22);
}

#home {
  font-size: 26px;
  color: #545454;
  text-align: center;
  -webkit-text-shadow: 1px 1px 1px #A19191;
  -moz-text-shadow: 1px 1px 1px #A19191;
  text-shadow: 1px 1px 1px #A19191;
  h1 {
    font-size: 36px;
    -webkit-text-shadow: 2px 2px 2px #A19191;
    -moz-text-shadow: 2px 2px 2px #A19191;
    text-shadow: 2px 2px 2px #A19191;
  }
}

.alert-grey {
  color: #545454;

  -webkit-text-shadow: 1px 1px 1px #A19191;
  -moz-text-shadow: 1px 1px 1px #A19191;
  text-shadow: 1px 1px 1px #A19191;

  background-color: #dddddd;
  border-color: #eeeeee;
}

.center {
  text-align: center;
}

#white-border {
  -webkit-text-shadow: 1px 1px 2px #7D95FF;
  -moz-text-shadow: 1px 1px 2px #7D95FF;
  text-shadow: 1px 1px 2px #7D95FF;
}

.less-important {
  font-size: 10px;
  color: #777
}

.important-title {
  font-size: 14px;
  color: #545454;
  text-align: center;

  -webkit-text-shadow: 1px 1px 1px #A19191;
  -moz-text-shadow: 1px 1px 1px #A19191;
  text-shadow: 1px 1px 1px #A19191;
}

.white {
  color: white;
}

.offset1-5 {
  margin-left: 180px;
}

.offset65 {
  margin-left: 65px;
}

.offset40 {
  margin-left: 40px;
}

.span540 {
  width: 620px;
}

.offset-01 {
  margin-left: -10px
}

.offset0 {
  margin-left: 0px
}

.offset01 {
  margin-left: 10px
}

.offset02 {
  margin-left: 20px
}

.offset03 {
  margin-left: 30px;
}

.offset04 {
  margin-left: 40px;
}

.offset05 {
  margin-left: 50px;
}

.offset06 {
  margin-left: 60px;
}

.offset07 {
  margin-left: 70px;
}

.offset08 {
  margin-left: 80px;
}

.offset09 {
  margin-left: 90px;
}

.font-size20 {
  font-size: 20px;
}

.font-size16 {
  font-size: 16px;
}

.font-size14 {
  font-size: 14px;
}

