%h1 Listing yml_sources
%table
  %tr
    %td.bottom_border#name
      %strong Name
    %td.bottom_border
      %strong Path
    %td.bottom_border
      %strong Loadind Button
  %tr
    %td
  - @yml_sources.each do |yml_source|
    %tr
      %td= yml_source.name
      %td= yml_source.path
      %td= link_to 'load in DB', phrase_database_filler_path(yml_source), :class => "btn"
%br/
